body{
    background-image: url(image/uuz.png); /* 设置网页背景图片 */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#div-white{ /* 白色盒子 */
    width: 500px; /* 边框长度 */
    height: 500px; /* 边框宽度 */
    background: rgba(255, 255, 255, 0.2); /* 设置框白色透明 */
    margin: 400 auto; /* 自动居中 */
    border-radius: 15px; /* 圆角 */
}
#div-black{ /* 黑色盒子 */
    width: 500px; /* 边框长度 */
    height: 500px; /* 边框宽度 */
    background: rgba(0, 0, 0, 0.2); /* 设置框白色透明 */
    margin: 400 auto; /* 自动居中 */
    border-radius: 15px; /* 圆角 */
}
.white{
    color: white; /* 白色 */
}
.black{
    color: black; /* 黑色 */
}
.pink{
    color: pink; /* 粉色 */
}
